#format: sh
#
#  ensembl_proteinseqload.config.default
#
#  This file sets up environment variables that are needed for 
#  processing Ensembl protein sequences
#
# The following config settings can change between loads:
# 1) SEQ_RELEASE_DATE
# The following config settings change between genome builds:
# 1) SEQ_RELEASE_NO
#
###########################################################################

#
#  Output File Settings
#

# this dir holds the following dirs: logs, data, archive, reports
FILEDIR=${DATALOADSOUTPUT}/ensembl/ensembl_proteinseqload

export FILEDIR

# Full path the the logs, reports, and archive directories
LOGDIR=${FILEDIR}/logs
RPTDIR=${FILEDIR}/reports
OUTPUTDIR=${FILEDIR}/output
ARCHIVEDIR=${FILEDIR}/archive

export LOGDIR RPTDIR OUTPUTDIR ARCHIVEDIR

#  Complete path name of the log files
LOG_PROC=${LOGDIR}/ensembl_proteinseqload.proc.log
LOG_DIAG=${LOGDIR}/ensembl_proteinseqload.diag.log
LOG_CUR=${LOGDIR}/ensembl_proteinseqload.cur.log
LOG_VAL=${LOGDIR}/ensembl_proteinseqload.val.log

export LOG_PROC LOG_DIAG LOG_CUR LOG_VAL

#
#  Input File Settings
#

#  Frameworks expects the value 'STDIN' if jobstream script pipes input to
#  the application.
INFILE_NAME=STDIN

# Input file name 
APP_INFILES=${INPUTDIR}/ensembl_proteins.gz

# Complete path to config file for assocload
CONFIG_ASSOCLOAD=${VEGA_ENSEMBLSEQLOAD}/ensembl_proteinassocload.config

# Path to assocload input file
INFILE_ASSOCLOAD=${OUTPUTDIR}/ensembl_protein_mkrassoc.txt


export INFILE_NAME APP_INFILES CONFIG_ASSOCLOAD INFILE_ASSOCLOAD 
#
# Ensembl Protein Sequence Load specific settings
#

# Load Reference
SEQ_JNUMBER=J:91388

# release date - must be updated with each load and should match
# that of assemblyload 
SEQ_RELEASE_DATE=2018/04/05

# This is the sequence version in the database.
# set to mouse build number
SEQ_RELEASE_NO="GRCm38"

export SEQ_JNUMBER SEQ_RELEASE_DATE SEQ_RELEASE_NO

# SEQ_Sequence sequence type controlled vocab for protein
SEQ_TYPE=Polypeptide

# this load's login value for DB table CreatedBy and ModifiedBy
JOBSTREAM=ensembl_proteinseqload

# SEQ_Sequence Provider controlled vocab for SwissProt
SEQ_PROVIDER="Ensembl Protein"

# logical db name for protein sequence
SEQ_LOGICALDB="Ensembl Protein"

# logical db for gene model sequence
GM_LOGICALDB="Ensembl Gene Model"

export SEQ_TYPE JOBSTREAM SEQ_PROVIDER SEQ_LOGICALDB GM_LOGICALDB

#
# Ensembl Protein Sequence Assoc Load specific settings
#

# The flavor of assocload we are running
ASSOCLOADER_SH=${ASSOCLOAD}/bin/AssocLoad2.sh

# jnumber for the accession association load
# set to '0' (zero) if you DO NOT want to run the association load
ASSOC_JNUMBER=J:91388
#ASSOC_JNUMBER=0

ASSOC_OBJECTTYPE=Marker

export ASSOCLOADER_SH ASSOC_JNUMBER ASSOC_OBJECTTYPE

#
# Ensembl Protein to Transcript Sequence Association Load settings
#

# Name of config file
CONFIG_SEQASSOC=ensemblprotein_seqseqassocload.config

export CONFIG_SEQASSOC

# Path to the seqseqassocload input file
INFILE_SEQASSOCLOAD=${OUTPUTDIR}/ensembl_protein_seqseqassoc.txt

# Sequence Association Qualifier term
QUALIFIER="translated from "

# 0-based position of the transcript in the description line of the input file
SEQ_POSITION=4

export INFILE_SEQASSOCLOAD QUALIFIER SEQ_POSITION

#  The name of the load for the subject of an email notification
MAIL_LOADNAME="Ensembl Protein Sequence Load"

export SEQ_TYPE JOBSTREAM SEQ_PROVIDER SEQ_LOGICALDB MAIL_LOADNAME

